@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

:root{
    --main-color: rgb(224, 224, 224);
    --hover-color: rgb(0, 247, 255);
  }
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--main-color);
    font-size: 1.2rem;
    font-family: 'Montserrat', sans-serif;
}
body{
    background-color: rgb(247, 248, 249);
    background: url(background-image.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

    /* NAVIGATION DIV WRAPPER*/
.nav-wrapper{
    width: 100vw;
    height: 4rem;
}
    /* NAVIGATION BAR */
nav{
    display: flex;
    justify-content: center;
    align-items : center;
    margin: 1rem 0;
    margin-right: 9rem;
}
    /* NAV LINKS */
nav a{
    padding: 0.8rem 1.2rem;
    text-decoration: none;
    text-transform: uppercase;
    margin: 0 0.8rem;
}
    /* HOME LOGO HOVER */
nav a img:hover{
    transform: rotate(90deg);
    transition: 600ms ease;
}
    /* NAV LINKS HOVER */
nav a:hover{
    color: var(--hover-color);
    transition : 300ms ease
}


    /* MAIN SEPARATION*/
main{
    margin-left: 18rem;
    margin-top: 5rem;
}
    /* PARAGRAPH */
p{
    margin: 2rem 0rem;
}
    /* NAME */
.name{
    font-size: 2rem;
}



/* NAV MOBILE */
#mobile{
    width: 100vw;
    height: 4rem;
    justify-content: right;
    align-items : center;
    display: none;
}
/* NAV MOBILE DIV */
#mobile div{
    display: none;
}

@media only screen and (max-width: 1020px) {

    nav{
       display: none; 
    }
    #mobile{
        display: flex;
    }  
    #mobile img{
        margin-right: 1rem;
    }
    #mobile img:hover + div{
        display: block;
    }


}